# Set up env vars and build inputs from shell.nix automatically for nix users.
# If you don't use nix, you can safely ignore this.
# You can set the DISABLE_NIX environment variable if you're in an environment
# where nix is pre-installed (e.g. gitpod) but you don't want to use it.
if command -v nix &> /dev/null && [ -z ${DISABLE_NIX+x} ]
then
  use nix
fi
